<div class="container">
  <div class="container-inner inner-default clearfix">
    <% items.each_with_index do |item, index| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <% if item.large_image.present? %>
              <%= image_tag(item.large_image , alt: item.title) %>
            <% else %>
              <%= image_tag("no-image.png" , alt: item.title) %>
            <% end %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <%= item.title %>
          </p>
        </div>
        <% if params[:controller] == 'rankings' %>
          <span class="label label-success">順位: <%= index+1 %></span>
          <% if params[:action] == 'have' %>
            <span class="label label-info">Have数: <%= counts[item.id] %></span>
          <% elsif params[:action] == 'want' %>
            <span class="label label-info">Want数: <%= counts[item.id] %></span>
          <% end %>
        <% end %>
        <%= render 'items/action' , item: item if logged_in? %>
      </div>
    <% end %>
  </div>
</div>
